<header>

  <div class="midle text-center">
    <h3>NEW ARRIVAL</h3>
    <p>We have created a .... Lorem ipsum..</p>
    <br>
    <div class="row">
        <div class="col-sm-4">
          <p class="text-center"><strong>Name</strong></p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="assets/pic1.jpg" class="img-circle person" alt="Random Name">
          </a>
          <div id="demo" class="collapse">
            <p>Áo thun</p>
            <p>Chất liệu: Vãi cotton, thoáng mát</p>
            <p>Xuất xứ: Việt Nam</p>
            <p>Cost: 150k</p>
            <button><p>Add to cart</p></button>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="text-center"><strong>Name</strong></p><br>
          <a href="#demo2" data-toggle="collapse">
            <img src="assets/pic2.jpg" class="img-circle person" alt="Random Name">
          </a>
          <div id="demo2" class="collapse">
            <p>Váy thời trang</p>
            <p>Chất liệu: cotton </p>
            <p>Xuất xứ: Korea</p>
            <p>Cost: 350k</p>
            <button><p>Add to cart</p></button>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="text-center"><strong>Name</strong></p><br>
          <a href="#demo3" data-toggle="collapse">
            <img src="assets/pic3.jpg" class="img-circle person" alt="Random Name">
          </a>
          <div id="demo3" class="collapse">
            <p>Jean B1</p>
            <p>Màu: Xanh đen</p>
            <p>Xuất xứ: Singapore</p>
            <p>Cost: 450k</p>
            <button><p>Add to cart</p></button>
          </div>
        </div>
      </div>
  </div>
</header>
